<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron bg-success text-light my-4 my-lg-5 py-3 " style="border-radius: 50px;">
    <h3>Welcome to Ecommerce App</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/mobiles-1.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobile Phones</h5>
        <p class="card-text">
          Show off with a brand new phone from trusted brands
        </p>
        <a href="/home/mobile" class="btn btn-dark">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/clothes-1.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Clothes</h5>
        <p class="card-text">
          Get exciting offers on the casual and formal sections
        </p>
        <a href="/home/clothes" class="btn btn-dark">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/stationary-1.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Stationary</h5>
        <p class="card-text">
          Gift your children with quality products from our Staionary
        </p>
        <a href="/home/stationary" class="btn btn-dark">check here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
